@{
    ViewBag.Title = "Điểm danh";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
    if (Session["ID"] != null)
    {
        if (Convert.ToInt32(Session["Role"]) == 2)
        {
            Response.Redirect("~/Admin/AddUser");
        }
    }
    else
    {
        Response.Redirect("~/Home/Login");
    }
}
@model SEP_FingerPrint.Models.DiemDanh
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Attendance</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.16/css/dataTables.semanticui.min.css" rel="stylesheet" />
    <style>
        tbody tr td {
            color: black;
        }
    </style>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>*@
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.semanticui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.js"></script>
    <script src="~/CustomLib/Attendance/jquery.nice-select.js"></script>
    <link href="~/CustomLib/css/nice-select.css" rel="stylesheet" />
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script>
        function showTable() {
            var time = $("#listTime").val().split(" ", 1);
            $("#example").DataTable({
                "processing": true,
                "serverSide": false,
                "pagingType": "full_numbers",
                "ordering": true,
                "info": true,
                "searching": true,
                "bFilter": false,
                //"scrollX": "100%",
                //"scrollY": ($(window).height() - 500),
                //"sScrollXInner": "100%",
                //"bScrollCollapse": true,
                //"sAjaxSource": 'http://localhost:49354/Lecturer/LoadData/@Model.BuoiHoc.MKH/'+time,
                "sAjaxSource": '@Url.Action("LoadData", "Lecturer")/@Model.BuoiHoc.MKH/@Model.BuoiHoc.MBH',
                //"fnServerParams": function (aoData) {
                //    aoData.push({ "name": "id", "value": "1" });
                //},
                "bDestroy": true,
                "bLengthChange": true,
                "bPaginate": true,
                "sEmptyTable": "Loading data from server",
                language: {
                    "search": "Tìm kiếm:",
                    "searchPlaceholder": "Nhập dữ liệu cần tìm",
                    "loadingRecords": "Đang tải dữ liệu...",
                    "processing": "Đang xử lý...",
                    "emptyTable": "Không tìm thấy dữ liệu",
                    "info": "Hiển thị _START_ đến _END_ trong tổng số _TOTAL_ dữ liệu",
                    "infoEmpty": "Hiển thị 0 trong tổng số 0 dữ liệu",
                    "infoFiltered": "(lọc từ tổng số _MAX_ dữ liệu)",
                    "lengthMenu": "Hiển thị _MENU_ dữ liệu",
                    "zeroRecords": "Không tìm thấy dữ liệu nào phù hợp",
                    "paginate": {
                        "first": "Đầu",
                        "last": "Cuối",
                        "next": "Tiếp theo",
                        "previous": "Trước đó"
                    },
                },
                "columns": [
                    //{
                    //    "render": function (data, type, row) {
                    //        return rows.count();
                    //    }
                    //},
                    { "render": function (data, type, row) { return row[1]; } },
                    { "render": function (data, type, row) { return (row[2]); } },
                    { "render": function (data, type, row) { return (row[3]); } },
                    { "render": function (data, type, row) { return (row[4]); } },
                    { "render": function (data, type, row) { return (row[8]); } },
                    {
                        "bSortable": false,
                        "targets": 0,
                        "render": function (data, type, row) {
                            if (row[8] == 0) {
                                //return '<div class="tg-list-item2"><input class="tgl2 tgl2-light" id="' + row[0] +'" type="checkbox" /><label class="tgl2-btn" data-tg-on="H" data-tg-off="V" for="'+ row[0] +'"></label></div>';
                                return '<button type="button" style="width: 95px; margin-top: 8px" class="btn-active btn btn-danger"'
                                                + 'aria-pressed="false" autocomplete="off" data-id="' + row[0] + '">Vắng</button>';
                            } else {
                                //return '<div class="tg-list-item2"><input class="tgl2 tgl2-light" id="'+ row[0] +'" type="checkbox" checked/><label class="tgl2-btn" data-tg-on="H" data-tg-off="V" for="'+ row[0] +'"></label></div>';
                                return '<button type="button" style="width: 95px; margin-top: 8px" class="btn-active btn btn-primary"'
                                                + 'aria-pressed="false" autocomplete="off" data-id="' + row[0] + '">Hiện diện</button>';
                            }
                        }
                    }
                ],
                rowCallback: function (row, data, index) {
                    if (data[8] == 0) {
                        $(row).find('td:eq(4)').text("").addClass('fa fa-close').css({ 'background': '@Session["Clr0"]', 'display': 'block', 'text-align': 'center' });
                    }
                    if (data[8] == 1) {
                        $(row).find('td:eq(4)').text("").addClass('fa fa-check').css({ 'background': '@Session["Clr1"]', 'display': 'block', 'text-align': 'center' });
                    }
                    if (data[3] == "True") {
                        $(row).find('td:eq(2)').text("").addClass('fa fa-male').css({ 'display': 'block', 'text-align': 'center'});
                    }
                    else {
                        $(row).find('td:eq(2)').text("").addClass('fa fa-female').css({ 'display': 'block', 'text-align': 'center' });
                    }

                    //
                    $(row).find('td:eq(0)').css({ 'text-align': 'center' });
                    $(row).find('td:eq(1)').css({ 'text-align': 'center' });
                    $(row).find('td:eq(3)').css({ 'text-align': 'center' });
                    $(row).find('td:eq(5)').css({ 'text-align': 'center' });
                    $("div.tg-list-item").show();
                    $(row).find('td:eq(5)').hide();
                    $(".tgl-btn").click(function () {
                        $(row).find('td:eq(5)').toggle();
                        $(row).find('td:eq(4)').toggle();
                        if ($('input.tgl').is(':checked')) {
                            location.reload();
                        }
                    });
                    //
                }
            });
            }
        $(document).ready(function () {
            $('select').niceSelect();
        });
        $(document).ready(function () {
            showTable();
            $("#listTime").change(function () {
                var time = $("#listTime").val().split(" ", 1);
                //var redirectURL = '@Url.Action("Attendance", "Lecturer")';
                window.location.href = '@Url.Action("Attendance", "Lecturer")?id=' + "@Model.MKH" + '&MBH=' +time;
                //showTable();
            });
        });
        //Edit attendance function
        setTimeout(function () {
            var editor = {
                init: function () {
                    editor.registerEvents();
                },
                registerEvents: function () {
                    $('.btn-active').on('click', function (e) {
                        e.preventDefault();
                        var btn = $(this);
                        var id = btn.data('id');
                        $.ajax({
                            url: "/Lecturer/EditAtd",
                            data: { id: id },
                            dataType: "json",
                            type: "POST",
                            success: function (response) {
                                console.log(response);
                                if (response.status == 0) {
                                    btn.text('Vắng').addClass('btn-danger');
                                    btn.text('Vắng').removeClass('btn-primary');
                                }
                                else {
                                    btn.text('Hiện diện').addClass('btn-primary');
                                    btn.text('Hiện diện').removeClass('btn-danger');
                                }
                            }
                        });
                    });
                }
            }
            editor.init();
        }, 3000);

    </script>
</head>

<div class="page-wrapper">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">Điểm danh - buổi @Model.MBH</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Trang chủ</a></li>
                <li class="breadcrumb-item active">Điểm danh</li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="card">
            <div style="margin-left: 12px" class="row">
                <!-- /# column -->
                <div style="position:absolute; right: 30px; display: none" class="tg-list-item">
                    <input class="tgl tgl-skewed" id="cb3" type="checkbox" />
                    <label class="tgl-btn" data-tg-on="Hoàn thành" data-tg-off="Sửa điểm danh" for="cb3"></label>
                </div>
                <div id="example_length">
                    <select id="listTime">
                        <option>Chọn buổi học</option>
                        @{
                            SEP_FingerPrint.Models.Sep2018Entities db = new SEP_FingerPrint.Models.Sep2018Entities();
                            var listSel = db.BuoiHocs.ToList().Where(x=>x.MKH.Equals(@Model.MKH));
                            foreach (var item in listSel)
                            {
                                <option>@item.MBH - @item.Ngay.ToShortDateString()</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-lg-12">
                    <hr />
                    <table id="example" class="table table-hover table-bordered dataTable" style="width:100%">
                        <thead>
                            <tr>
                                @*<th style="text-align: center">STT</th>*@
                                <th style="text-align: center">MSSV</th>
                                <th style="text-align: center">Họ tên</th>
                                <th style="text-align:center">Giới tính</th>
                                <th style="text-align: center">Ngày sinh</th>
                                <th id="done" style="text-align:center">
                                    Trạng thái
                                </th>
                                <th id="edit" style="text-align: center; display: none">Sửa</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
    <!-- End Container fluid  -->
</div>


