@{
    ViewBag.Title = "Attendance";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
    if (Session["ID"] != null)
    {
        if (Convert.ToInt32(Session["Role"]) == 2)
        {
            Response.Redirect("~/Admin/AddUser");
        }
    }
    else
    {
        Response.Redirect("~/Home/Login");
    }
}
@model SEP_FingerPrint.Models.DiemDanh
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Attendance</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.16/css/dataTables.semanticui.min.css" rel="stylesheet" />
    <style>
        tbody tr td {
            color: black;
        }
    </style>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>*@
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.semanticui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.js"></script>
    <script src="~/CustomLib/js/jquery.nice-select.js"></script>
    <link href="~/CustomLib/css/nice-select.css" rel="stylesheet" />
    <script>
        function showTable() {
            var time = $("#listTime").val().split(" ", 1);
            $("#example").DataTable({
                "processing": true,
                "serverSide": false,
                "pagingType": "full_numbers",
                "ordering": true,
                "info": true,
                "searching": true,
                "bFilter": false,
                //"scrollX": "100%",
                //"scrollY": ($(window).height() - 500),
                //"sScrollXInner": "100%",
                //"bScrollCollapse": true,
                //"sAjaxSource": 'http://localhost:49354/Lecturer/LoadData/@Model.BuoiHoc.MKH/'+time,
                "sAjaxSource": '@Url.Action("LoadData", "Lecturer")/@Model.BuoiHoc.MKH/@Model.BuoiHoc.MBH',
                //"fnServerParams": function (aoData) {
                //    aoData.push({ "name": "id", "value": "1" });
                //},
                "bDestroy": true,
                "bLengthChange": true,
                "bPaginate": true,
                "sEmptyTable": "Loading data from server",
                language: {
                    "search": "Tìm kiếm:",
                    "searchPlaceholder": "Nhập dữ liệu cần tìm",
                    "loadingRecords": "Đang tải dữ liệu...",
                    "processing": "Đang xử lý...",
                    "emptyTable": "Không tìm thấy dữ liệu",
                    "info": "Hiển thị _START_ đến _END_ trong tổng số _TOTAL_ dữ liệu",
                    "infoEmpty": "Hiển thị 0 trong tổng số 0 dữ liệu",
                    "infoFiltered": "(lọc từ tổng số _MAX_ dữ liệu)",
                    "lengthMenu": "Hiển thị _MENU_ dữ liệu",
                    "zeroRecords": "Không tìm thấy dữ liệu nào phù hợp",
                    "paginate": {
                        "first": "Đầu",
                        "last": "Cuối",
                        "next": "Tiếp theo",
                        "previous": "Trước đó"
                    },
                },
                "columns": [
                    { "render": function (data, type, row) { return row[0]; } },
                    { "render": function (data, type, row) { return row[1]; } },
                    { "render": function (data, type, row) { return (row[2]); } },
                    { "render": function (data, type, row) { return (row[3]); } },
                    { "render": function (data, type, row) { return (row[4]); } },
                    //{ "render": function (data, type, row) { return (row[5]); } },
                    //{ "render": function (data, type, row) { return (row[6]); } },
                    //{ "render": function (data, type, row) { return (row[7]); } },
                    { "render": function (data, type, row) { return (row[8]); } },
                    { "render": function (data, type, row) { return (row[8]); } },
                    @*{
                        "bSortable": false,
                        "sClass": "TextCenter",
                        "render": function (data, type, row) {
                            //return '<button type="button" class="btn-active btn btn-outline-primary" aria-pressed="false" autocomplete="off" data-id="@Model.ID">@Model.TrangThai</button>';
                            return { "render": function (data, type, row) { return (row[8]); } };
                        }, "targets": 0,
                    }*@
                ],
                rowCallback: function (row, data, index) {
                    if (data[8] == 0) {
                        $(row).find('td:eq(5)').text("").addClass('fa fa-close').css({ 'background': '@Model.KhoaHoc.GiangVien.CauHinh.Absent', 'display': 'block', 'text-align': 'center' });
                    }
                    if (data[8] == 1) {
                        $(row).find('td:eq(5)').text("").addClass('fa fa-check').css({ 'background': '@Model.KhoaHoc.GiangVien.CauHinh.Attend', 'display': 'block', 'text-align': 'center' });
                    }
                    if (data[3] == "True") {
                        $(row).find('td:eq(3)').text("").addClass('fa fa-mars').css({ 'display': 'block', 'text-align': 'center' });
                    }
                    else {
                        $(row).find('td:eq(3)').text("").addClass('fa fa-venus').css({ 'display': 'block', 'text-align': 'center' });
                    }
                    $(row).find('td:eq(0)').css({ 'text-align': 'center' });
                    $(row).find('td:eq(1)').css({ 'text-align': 'center' });
                }
            });
        }
        $(document).ready(function () {
            $('select').niceSelect();
        });
        $(document).ready(function () {
            showTable();
            $("#listTime").change(function () {
                var time = $("#listTime").val().split(" ", 1);
                var redirectURL = '@Url.Action("Attendance", "Lecturer")';
                window.location.href = 'http://localhost:49354/Lecturer/Attendance/@Model.BuoiHoc.MKH/' + time;
                //showTable();
            })
        });
        var editor = {
            init: function () {
                editor.registerEvents();
            },
            registerEvents: function () {
                $('.btn-active').off('click').on('click', function (e) {
                    e.preventDefault();
                    var btn = $(this);
                    var id = btn.data('id');
                    $.ajax({
                        url: "/Lecturer/EditAtd",
                        data: { id: id },
                        dataType: "json",
                        type: "POST",
                        success: function (response) {
                            console.log(response);
                            if (response.status == 0) {
                                btn.text('Vắng');
                            }
                            else {
                                btn.text('Hiện diện');
                            }
                        }
                    });
                });
            }
        }
        editor.init();
    </script>
</head>

<div class="page-wrapper">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">Điểm danh - buổi @Model.MBH</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Trang chủ</a></li>
                <li class="breadcrumb-item active">Điểm danh</li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="card">
            <div style="margin-left: 12px" class="row">
                <!-- /# column -->
                <a style="line-height:25px" class="btn btn-outline-primary" href="~/Lecturer/RollupEditor/@Model.MBH">Sửa điểm danh</a>
                &nbsp;&nbsp;
                <div id="example_length">
                    <select id="listTime">
                        <option>Chọn buổi học</option>
                        @{
                            SEP_FingerPrint.Models.Sep2018Entities db = new SEP_FingerPrint.Models.Sep2018Entities();
                            var listSel = db.BuoiHocs.ToList();
                            foreach (var item in listSel)
                            {
                                <option>@item.MBH - @item.Ngay.ToShortDateString()</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-lg-12">
                    <hr />
                    <table id="example" class="table table-hover table-bordered dataTable" style="width:100%">
                        <thead>
                            <tr>
                                <th style="text-align: center">STT</th>
                                <th style="text-align: center">MSSV</th>
                                <th>Họ tên</th>
                                <th style="text-align:center">Giới tính</th>
                                <th style="text-align: center">Ngày sinh</th>
                                @*<th>Mã BH</th>*@
                                @*<th>Ngày</th>*@
                                @*<th>Giờ</th>*@
                                <th style="text-align:center">
                                    Trạng thái
                                </th>
                                <th>Sửa</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
    <!-- End Container fluid  -->
</div>
