@model SEP_FingerPrint.Models.BuoiHoc
@{
    ViewBag.Title = "Attendance";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
    if (Session["ID"] != null)
    {
        if (Convert.ToInt32(Session["Role"]) == 2)
        {
            Response.Redirect("~/Admin/AddUser");
        }
    }
    else
    {
        Response.Redirect("~/Home/Login");
    }
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Attendance</title>
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.16/css/dataTables.semanticui.min.css" rel="stylesheet" />

    <style>
        tbody tr td {
            color: black;
        }
    </style>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.semanticui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.js"></script>

    <script>
        function showTable() {
            //var time = $("#listTime").val().split(" ", 1);
            $("#example").DataTable({
                "processing": true,
                "serverSide": false,
                "pagingType": "full_numbers",
                "ordering": true,
                "info": true,
                "searching": true,
                "bFilter": false,
                
                //"scrollX": "100%",
                //"scrollY": ($(window).height() - 500),
                //"sScrollXInner": "100%",
                //"bScrollCollapse": true,
                //"
                "sAjaxSource": '@Url.Action("LoadFullData", "Lecturer")/@Model.MKH',
                "bDestroy": true,
                "bLengthChange": true,
                "bPaginate": true,
                "sEmptyTable": "Loading data from server",
                language: {
                    "search": "Tìm kiếm:",
                    "searchPlaceholder": "Nhập dữ liệu cần tìm",
                    "loadingRecords": "Đang tải dữ liệu...",
                    "processing": "Đang xử lý...",
                    "emptyTable": "Không tìm thấy dữ liệu",
                    "info": "Hiển thị _START_ đến _END_ trong tổng số _TOTAL_ dữ liệu",
                    "infoEmpty": "Hiển thị 0 trong tổng số 0 dữ liệu",
                    "infoFiltered": "(lọc từ tổng số _MAX_ dữ liệu)",
                    "lengthMenu": "Hiển thị _MENU_ dữ liệu",
                    "zeroRecords": "Không tìm thấy dữ liệu nào phù hợp",
                    "paginate": {
                        "first": "Đầu",
                        "last": "Cuối",
                        "next": "Tiếp theo",
                        "previous": "Trước đó"
                    },
                },
                //"columns": [
                //    { "render": function (data, type, row) { return (row[0]); } },
                //    { "render": function (data, type, row) { return (row[1]); } },
                //    { "render": function (data, type, row) { return (row[2]); } },
                //    { "render": function (data, type, row) { return (row[3]); } },
                    //{ "render": function (data, type, row) { return (row[4]); } },
                //    { "render": function (data, type, row) { return (row[5]); } },
                    //{
                    //    "bSortable": false,
                    //    "sClass": "TextCenter",
                    //    "render": function (data, type, row) {
                    //        return '<center><a href="javascript:void(0);"  onclick=deleteData("' + row[0] + '"); return false;> <i class="glyphicon glyphicon-trash"></i></a>&nbsp;&nbsp;<a href="javascript:void(0);"  onclick=EditData(this); return false;> <i class="glyphicon glyphicon-edit"></i></a></center>';
                    //    }, "targets": 0,
                    //}
                //],
                rowCallback: function (row, data, index) {
                    if (data[3] == 0) {
                        $(row).find('td:eq(3)').css('background', '#ffa3a3');
                    }
                    if (data[3] == 1) {
                        $(row).find('td:eq(3)').css('background', '#d9f9dd');
                    }
                }
            });
        }
        $(document).ready(function () {
            showTable();
            @*$("#listTime").change(function () {
                var time = $("#listTime").val().split(" ", 1);
                var redirectURL = '@Url.Action("Attendance","Lecturer")';
                window.location.href = 'http://localhost:49354/Lecturer/Attendance/@Model.MKH/' + time;
                //showTable();*@
        });
       
    </script>
</head>

<div class="page-wrapper">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">Attendance</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">...</li>
                <li class="breadcrumb-item active">...</li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <!-- /# column -->
            @*<div id="example_length" style="width: 50%">
                    <label for="listTime" style="width: 20%">Chọn buổi học:</label>
                    <select id="listTime" style="width: 20%">
                        <option>Select time</option>
                        @{
                            SEP_FingerPrint.Models.Sep2018Entities db = new SEP_FingerPrint.Models.Sep2018Entities();
                            var listSel = db.BuoiHocs.ToList();
                            foreach (var item in listSel)
                            {
                                <option>@item.MBH - @item.Ngay</option>
                            }
                        }
                    </select>
                </div>*@
            <div class="col-lg-12">
                <table id="example" class="ui celled table" style="width:100%">
                    <thead>
                        <tr>
                            <th>MSSV</th>
                            <th>Họ và tên</th>
                            @{
                                SEP_FingerPrint.Models.Sep2018Entities db = new SEP_FingerPrint.Models.Sep2018Entities();
                                var bh = db.BuoiHocs.ToList().Where(x=>x.MKH==Model.MKH);
                                foreach (var item in bh)
                                { 
                                    <th>@item.Ngay.ToString().Split(' ')[0]</th>
                                }
                            }
                        </tr>
                    </thead>
                    @*<tbody>                        
                        <tr>
                                <td>123456</td>
                                <td>Trần Nguyễn Nhật Minh</td>
                                <td>0</td>
                                <td>0</td>
                               
                            </tr>
                    </tbody>*@
                </table>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
    <!-- End Container fluid  -->
</div>